Repository patrickdoane/grail-tracker-redux: changes, and which pre-commit hooks are due for each by the changed paths.
All: grail-client-lint, grail-server-spotless

grail-client-lint:
  name: grail-client lint
  entry: npm
  args:
  - --prefix
  - grail-client
  - run
  - lint
  language: system
  pass_filenames: false

grail-server-spotless:
  name: grail-server spotless apply
  entry: bash
  args:
  - -lc
  - cd grail-server && ./mvnw -Dmaven.repo.local=.m2 -q com.diffplug.spotless:spotless-maven-plugin:2.44.0:apply
  language: system
  pass_filenames: false

Prototype stats insights page
  grail-client/src/App.tsx
  grail-client/src/features/stats/StatsPage.css
  grail-client/src/features/stats/StatsPage.tsx
Due: grail-client-lint

Expand Stats & Insights follow-up tasks
  TODO
Due: none

Add interactive drop activity chart
  grail-client/src/features/stats/StatsPage.css
  grail-client/src/features/stats/StatsPage.tsx
Due: grail-client-lint

Connect stats page to profile data
  grail-client/src/features/stats/StatsPage.tsx
  grail-client/src/features/user-items/useUserItemsQuery.ts
  grail-client/src/features/user-items/userItemsApi.ts
Due: grail-client-lint

Persist item log actions to user items API
  grail-client/src/features/items/ItemsPage.tsx
  grail-client/src/features/stats/StatsPage.tsx
  grail-client/src/features/user-items/useUserItemsQuery.ts
  grail-client/src/features/user-items/userItemsApi.ts
Due: grail-client-lint

Load grail profile before logging user items
  grail-client/src/features/items/ItemDetailPanel.tsx
  grail-client/src/features/items/ItemsPage.tsx
  grail-client/src/features/stats/StatsPage.tsx
  grail-client/src/features/user-items/useUserItemsQuery.ts
  grail-client/src/features/user-items/userItemsApi.ts
  grail-client/src/features/users/useUsersQuery.ts
  grail-client/src/features/users/usersApi.ts
Due: grail-client-lint

Expand stats insights follow-up tasks
  TODO
Due: none

Prototype settings page
  TODO
  grail-client/src/App.tsx
  grail-client/src/features/settings/SettingsPage.css
  grail-client/src/features/settings/SettingsPage.tsx
Due: grail-client-lint

Add follow-up tasks for settings page
  TODO
Due: none

Handle invalid JWT tokens and define mockito version
  README.md
  grail-server/mvnw
  grail-server/pom.xml
  grail-server/src/main/java/com/d2/grail_server/GrailServerApplication.java
  grail-server/src/main/java/com/d2/grail_server/config/AppSecurityProperties.java
  grail-server/src/main/java/com/d2/grail_server/config/SecurityConfig.java
  grail-server/src/main/java/com/d2/grail_server/controller/AuthController.java
  grail-server/src/main/java/com/d2/grail_server/controller/UserController.java
  grail-server/src/main/java/com/d2/grail_server/dto/AuthRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/AuthResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/RegisterRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/UserResponse.java
  grail-server/src/main/java/com/d2/grail_server/exception/RestExceptionHandler.java
  grail-server/src/main/java/com/d2/grail_server/model/User.java
  grail-server/src/main/java/com/d2/grail_server/model/UserRole.java
  grail-server/src/main/java/com/d2/grail_server/security/JwtAuthenticationFilter.java
  grail-server/src/main/java/com/d2/grail_server/security/JwtService.java
  grail-server/src/main/java/com/d2/grail_server/security/UserPrincipal.java
  grail-server/src/main/java/com/d2/grail_server/service/UserService.java
  grail-server/src/main/resources/application.properties
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
  grail-server/src/test/resources/application-test.properties
Due: grail-server-spotless

Break circular dependency in security config
  grail-server/src/main/java/com/d2/grail_server/config/SecurityConfig.java
Due: grail-server-spotless

Fix login principal resolution and auth error handling
  grail-server/src/main/java/com/d2/grail_server/controller/AuthController.java
  grail-server/src/main/java/com/d2/grail_server/exception/RestExceptionHandler.java
Due: grail-server-spotless

Harden authentication principal resolution
  grail-server/src/main/java/com/d2/grail_server/controller/AuthController.java
  grail-server/src/main/java/com/d2/grail_server/service/UserService.java
Due: grail-server-spotless

Enforce 401 responses for unauthenticated writes
  grail-server/src/main/java/com/d2/grail_server/config/SecurityConfig.java
Due: grail-server-spotless

Add JWT-based authentication and security configuration
  grail-server/mvnw
  grail-server/pom.xml
  grail-server/src/main/java/com/d2/grail_server/controller/AuthController.java
  grail-server/src/main/java/com/d2/grail_server/dto/AuthResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/LoginRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/RegisterRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/UserResponse.java
  grail-server/src/main/java/com/d2/grail_server/model/Role.java
  grail-server/src/main/java/com/d2/grail_server/model/User.java
  grail-server/src/main/java/com/d2/grail_server/repository/UserRepository.java
  grail-server/src/main/java/com/d2/grail_server/security/CustomUserDetailsService.java
  grail-server/src/main/java/com/d2/grail_server/security/JwtAuthenticationFilter.java
  grail-server/src/main/java/com/d2/grail_server/security/JwtService.java
  grail-server/src/main/java/com/d2/grail_server/security/SecurityConfig.java
  grail-server/src/main/java/com/d2/grail_server/security/UserPrincipal.java
  grail-server/src/main/java/com/d2/grail_server/service/AuthService.java
  grail-server/src/main/java/com/d2/grail_server/service/UserService.java
  grail-server/src/main/resources/application.properties
Due: grail-server-spotless

Fix CrudIntegrationTests to use plain password
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
Due: grail-server-spotless

Update CRUD integration tests for JWT auth
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
Due: grail-server-spotless

Configure JWT secret for tests
  grail-server/src/main/resources/application.properties
  grail-server/src/test/resources/application-test.properties
Due: grail-server-spotless

Register test users via auth service
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
Due: grail-server-spotless

Avoid Java 9 Map factory in JWT service
  grail-server/src/main/java/com/d2/grail_server/security/JwtService.java
Due: grail-server-spotless

Remove Optional.or usage in user details lookup
  grail-server/src/main/java/com/d2/grail_server/security/CustomUserDetailsService.java
Due: grail-server-spotless

Replace List.of usage in UserPrincipal
  grail-server/src/main/java/com/d2/grail_server/security/UserPrincipal.java
Due: grail-server-spotless

Default user role when none provided
  grail-server/src/main/java/com/d2/grail_server/service/UserService.java
Due: grail-server-spotless

Remove String.isBlank usage
  grail-server/src/main/java/com/d2/grail_server/service/UserService.java
Due: grail-server-spotless

Document auth manual checks and update TODO
  TODO
  docs/manual-auth-testing.md
Due: none

Add client auth flows to app shell
  grail-client/src/components/AppShell.css
  grail-client/src/components/AppShell.tsx
  grail-client/src/features/auth/AuthContext.tsx
  grail-client/src/features/auth/AuthMenu.css
  grail-client/src/features/auth/AuthMenu.tsx
  grail-client/src/features/auth/authApi.ts
  grail-client/src/lib/apiClient.ts
  grail-client/src/lib/authToken.ts
  grail-client/src/main.tsx
Due: grail-client-lint

Mark completed stats page tasks
  TODO
Due: none

Fix indent in TODO
  TODO
Due: none

Fix missing imports for settings services
  grail-server/src/main/java/com/d2/grail_server/service/DataConnectorService.java
  grail-server/src/main/java/com/d2/grail_server/service/OnboardingService.java
Due: grail-server-spotless

Authenticate settings integration test requests
  grail-server/src/test/java/com/d2/grail_server/controller/SettingsIntegrationTests.java
Due: grail-server-spotless

Handle ResponseStatusException with proper status
  grail-server/src/main/java/com/d2/grail_server/exception/RestExceptionHandler.java
Due: grail-server-spotless

Collect data connectors into list via Collectors
  grail-server/src/main/java/com/d2/grail_server/service/DataConnectorService.java
Due: grail-server-spotless

Restore Java 8 compatibility in user data service
  grail-server/src/main/java/com/d2/grail_server/service/UserDataService.java
Due: grail-server-spotless

Replace Java 11 string helpers in onboarding flow
  grail-server/src/main/java/com/d2/grail_server/controller/UserDataController.java
  grail-server/src/main/java/com/d2/grail_server/service/OnboardingService.java
Due: grail-server-spotless

Document settings hardening progress
  TODO
Due: none

Block rune ownership persistence until auth
  grail-server/src/main/java/com/d2/grail_server/service/UserItemService.java
Due: grail-server-spotless

Add Playwright global seeding setup
  playwright.config.ts
  tests/e2e/fixtures/holy_grail_items.e2e.csv
  tests/e2e/globalSetup.ts
Due: grail-client-lint

Accept timezone timestamps for user items
  .gitignore
  TODO
  grail-client/package-lock.json
  grail-client/package.json
  grail-client/playwright.config.ts
  grail-client/src/features/items/ItemsPage.tsx
  grail-client/tests/e2e/bootstrap/createAuthState.ts
  grail-client/tests/e2e/bootstrap/registerTestUser.ts
  grail-client/tests/e2e/fixtures/holy_grail_items.e2e.csv
  grail-client/tests/e2e/globalSetup.ts
  grail-client/tests/e2e/items-log.spec.ts
  grail-server/src/main/java/com/d2/grail_server/dto/UserItemRequest.java
  grail-server/src/main/java/com/d2/grail_server/service/UserItemService.java
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
  playwright.config.ts
Due: grail-client-lint, grail-server-spotless

Allow logging rune finds
  grail-server/src/main/java/com/d2/grail_server/service/UserItemService.java
  grail-server/src/test/java/com/d2/grail_server/service/UserItemServiceTests.java
Due: grail-server-spotless

Path conditions:
  grail-client-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  grail-server-spotless: any of: ^grail-server/
