Repository patrickdoane/grail-tracker-redux: changes, and which pre-commit hooks are due for each by the changed paths.
All: grail-client-lint, grail-server-spotless

grail-client-lint:
  name: grail-client lint
  entry: npm
  args:
  - --prefix
  - grail-client
  - run
  - lint
  language: system
  pass_filenames: false

grail-server-spotless:
  name: grail-server spotless apply
  entry: bash
  args:
  - -lc
  - cd grail-server && ./mvnw -Dmaven.repo.local=.m2 -q com.diffplug.spotless:spotless-maven-plugin:2.44.0:apply
  language: system
  pass_filenames: false

Update gitignore to blacklist .venv/ folder
  .gitignore
Due: none

Add python script to seed database with entries from holy_grail_items.csv
  .gitignore
  README.md
  grail-server/src/main/resources/application.properties
  scripts/seed_database.py
Due: grail-server-spotless

Add Spring CRUD API layer with DTOs and integration tests
  README.md
  TODO
  grail-server/pom.xml
  grail-server/src/main/java/com/d2/grail_server/controller/ItemController.java
  grail-server/src/main/java/com/d2/grail_server/controller/ItemPropertyController.java
  grail-server/src/main/java/com/d2/grail_server/controller/ItemSourceController.java
  grail-server/src/main/java/com/d2/grail_server/controller/UserController.java
  grail-server/src/main/java/com/d2/grail_server/controller/UserItemController.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemPropertyRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemPropertyResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemSourceRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemSourceResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/UserItemRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/UserItemResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/UserRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/UserResponse.java
  grail-server/src/main/java/com/d2/grail_server/exception/ConflictException.java
  grail-server/src/main/java/com/d2/grail_server/exception/ResourceNotFoundException.java
  grail-server/src/main/java/com/d2/grail_server/exception/RestExceptionHandler.java
  grail-server/src/main/java/com/d2/grail_server/repository/ItemPropertyRepository.java
  grail-server/src/main/java/com/d2/grail_server/repository/ItemRepository.java
  grail-server/src/main/java/com/d2/grail_server/repository/ItemSourceRepository.java
  grail-server/src/main/java/com/d2/grail_server/repository/UserItemRepository.java
  grail-server/src/main/java/com/d2/grail_server/repository/UserRepository.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemPropertyService.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemService.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemSourceService.java
  grail-server/src/main/java/com/d2/grail_server/service/UserItemService.java
  grail-server/src/main/java/com/d2/grail_server/service/UserService.java
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
  grail-server/src/test/resources/application-test.properties
Due: grail-server-spotless

Add prototype items view for backend fetch
  grail-client/src/App.css
  grail-client/src/App.tsx
  grail-client/src/index.css
  grail-client/vite.config.ts
Due: grail-client-lint

Update TODO roadmap after frontend prototype
  TODO
Due: none

Reorder TODO priorities and trim redundancy
  TODO
Due: none

Scaffold app shell with router
  grail-client/package-lock.json
  grail-client/package.json
  grail-client/src/App.css
  grail-client/src/App.tsx
  grail-client/src/components/AppShell.css
  grail-client/src/components/AppShell.tsx
  grail-client/src/features/items/ItemsPage.tsx
Due: grail-client-lint

Define design tokens and update shell styling
  grail-client/src/App.css
  grail-client/src/components/AppShell.css
  grail-client/src/index.css
Due: none

Update TODO after design system work
  TODO
Due: none

Build UI component library and fix service formatting
  TODO
  docs/ui-component-library.md
  grail-client/src/components/ui/Button.tsx
  grail-client/src/components/ui/Card.tsx
  grail-client/src/components/ui/FilterChip.tsx
  grail-client/src/components/ui/FloatingActionButton.tsx
  grail-client/src/components/ui/Layout.tsx
  grail-client/src/components/ui/ProgressRing.tsx
  grail-client/src/components/ui/StatusBadge.tsx
  grail-client/src/components/ui/index.ts
  grail-client/src/components/ui/ui.css
  grail-client/src/features/items/ItemsPage.css
  grail-client/src/features/items/ItemsPage.tsx
  grail-client/src/lib/classNames.ts
  grail-server/src/main/java/com/d2/grail_server/service/ItemPropertyService.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemService.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemSourceService.java
  grail-server/src/main/java/com/d2/grail_server/service/UserItemService.java
  grail-server/src/main/java/com/d2/grail_server/service/UserService.java
Due: grail-client-lint, grail-server-spotless

Document UI library guidance
  AGENTS.md
  README.md
Due: none

Introduce typed API layer with TanStack Query
  grail-client/package-lock.json
  grail-client/package.json
  grail-client/src/features/items/ItemsPage.tsx
  grail-client/src/features/items/itemsApi.ts
  grail-client/src/features/items/useItemsQuery.ts
  grail-client/src/lib/apiClient.ts
  grail-client/src/lib/queryClient.ts
  grail-client/src/main.tsx
Due: grail-client-lint

Add Tanstack React Query Devtools
  TODO
  grail-client/package.json
  grail-client/src/main.tsx
Due: grail-client-lint

Expand item browser with filters and optimistic logging
  TODO
  grail-client/src/features/items/ItemsPage.css
  grail-client/src/features/items/ItemsPage.tsx
Due: grail-client-lint

Add item note API and integrate detail response
  grail-server/src/main/java/com/d2/grail_server/controller/ItemController.java
  grail-server/src/main/java/com/d2/grail_server/controller/ItemNoteController.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemDetailResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemNoteRequest.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemNoteResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/ItemVariantResponse.java
  grail-server/src/main/java/com/d2/grail_server/model/ItemNote.java
  grail-server/src/main/java/com/d2/grail_server/repository/ItemNoteRepository.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemNoteService.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemService.java
  grail-server/src/test/java/com/d2/grail_server/GrailServerApplicationTests.java
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
Due: grail-server-spotless

Hook item detail panel to detail API
  grail-client/src/features/items/ItemDetailPanel.css
  grail-client/src/features/items/ItemDetailPanel.tsx
  grail-client/src/features/items/ItemsPage.css
  grail-client/src/features/items/ItemsPage.tsx
  grail-client/src/features/items/itemsApi.ts
  grail-client/src/features/items/useItemDetails.ts
Due: grail-client-lint

Use StringUtils for descriptions and add Mockito agent
  grail-server/pom.xml
  grail-server/src/main/java/com/d2/grail_server/service/ItemService.java
Due: grail-server-spotless

Add test for ItemService fallback variant
  grail-server/src/test/java/com/d2/grail_server/service/ItemServiceTests.java
Due: grail-server-spotless

Cover variant properties in ItemServiceTests
  grail-server/src/test/java/com/d2/grail_server/service/ItemServiceTests.java
Due: grail-server-spotless

Document Mockito javaagent requirement
  README.md
Due: none

Exercise multiple variant labels in ItemServiceTests
  grail-server/src/test/java/com/d2/grail_server/service/ItemServiceTests.java
Due: grail-server-spotless

Encourage branching before new work
  AGENTS.md
Due: none

Cover duplicate labels and punctuation variants
  grail-server/src/test/java/com/d2/grail_server/service/ItemServiceTests.java
Due: grail-server-spotless

Point seed workflow to Python script
  AGENTS.md
Due: none

Enhance item detail variant UI
  grail-client/src/features/items/ItemDetailPanel.css
  grail-client/src/features/items/ItemDetailPanel.tsx
Due: grail-client-lint

Lint files
  grail-server/src/main/java/com/d2/grail_server/dto/ItemNoteResponse.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemNoteService.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemPropertyService.java
  grail-server/src/main/java/com/d2/grail_server/service/ItemService.java
  grail-server/src/main/java/com/d2/grail_server/service/UserItemService.java
  grail-server/src/test/java/com/d2/grail_server/controller/CrudIntegrationTests.java
  grail-server/src/test/java/com/d2/grail_server/service/ItemServiceTests.java
  scripts/d2_holy_grail_scraper.py
  scripts/diff_reference.py
  scripts/make_official_reference.py
  scripts/seed_database.py
Due: grail-server-spotless

Add item detail hero banner
  TODO
  grail-client/src/features/items/ItemDetailPanel.css
  grail-client/src/features/items/ItemDetailPanel.tsx
Due: grail-client-lint

Fix item detail quick action anchors
  grail-client/src/features/items/ItemDetailPanel.tsx
Due: grail-client-lint

Add telemetry client and wiki event
  TODO
  grail-client/src/features/items/ItemDetailPanel.tsx
  grail-client/src/lib/telemetry.ts
Due: grail-client-lint

Add sets and runewords hub scaffolding
  TODO
  grail-client/src/App.tsx
  grail-client/src/features/sets/SetsRunewordsPage.css
  grail-client/src/features/sets/SetsRunewordsPage.tsx
Due: grail-client-lint

Integrate runeword collections
  grail-client/src/features/sets/SetsRunewordsPage.css
  grail-client/src/features/sets/SetsRunewordsPage.tsx
  grail-client/src/features/sets/setsApi.ts
  grail-client/src/features/sets/useCollectionsQuery.ts
  grail-server/src/main/java/com/d2/grail_server/controller/CollectionController.java
  grail-server/src/main/java/com/d2/grail_server/dto/CollectionItemResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/CollectionSummaryResponse.java
  grail-server/src/main/java/com/d2/grail_server/dto/CollectionsResponse.java
  grail-server/src/main/java/com/d2/grail_server/repository/ItemRepository.java
  grail-server/src/main/java/com/d2/grail_server/service/CollectionService.java
  scripts/d2_holy_grail_scraper.py
  scripts/make_official_reference.py
  scripts/seed_database.py
Due: grail-client-lint, grail-server-spotless

Update TODO
  TODO
Due: none

Polish sets and runewords UX
  TODO
  grail-client/src/features/sets/SetsRunewordsPage.css
  grail-client/src/features/sets/SetsRunewordsPage.tsx
Due: grail-client-lint

Expose runeword recipe details
  grail-client/src/features/items/ItemDetailPanel.css
  grail-client/src/features/items/ItemDetailPanel.tsx
Due: grail-client-lint

Wire telemetry for item wiki links
  grail-client/src/features/items/ItemDetailPanel.css
  grail-client/src/features/items/ItemDetailPanel.tsx
Due: grail-client-lint

Document telemetry endpoint configuration
  .gitignore
  README.md
  TODO
  grail-client/.env.example
  grail-client/README.md
Due: none

Persist rune tracking locally
  TODO
  grail-client/src/features/items/ItemDetailPanel.css
  grail-client/src/features/items/ItemDetailPanel.tsx
  grail-client/src/features/items/ItemsPage.tsx
  grail-client/src/features/items/runeUtils.ts
Due: grail-client-lint

Add session notes for 2024-09-26
  docs/session-notes-2024-09-26.md
Due: none

Organize session notes directory
  docs/session-notes/2024-09-26.md
  docs/session-notes/README.md
Due: none

Path conditions:
  grail-client-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  grail-server-spotless: any of: ^grail-server/
